.bubble {
  font-family: arial;
  font-size: 10pt;
}

hr {
  border:1;
}

h3 {
  font-family: arial;
}

.sidebar {
  font-family: arial;
  font-size: 10pt;
}

.ok, a.ok, a.ok:visited {
  text-decoration: none;
  color: green;
}

a.warning, a.warning:visited {
  text-decoration: none;
  color: orange; 
}

a:hover {
  background: white;
  font-weight: bold;
}

.problem, a.critical, a.critical:visited {
  text-decoration: none;
  color: red;
}
